/***********************************
* This stylesheet adds a steam-like*
* color scheme to the page         *
************************************/

body {
    background-color: #1B2838;
    color: #FFFFFF;
}

#title {
    background-color:#171A21;
}

/* image colors */
img{
    border: 5px solid rgba(33, 32, 78, 0);
}
img:hover {
    border: 5px solid #5DAEDD;
}

/* table colors */
table, th{
    border: 2px solid black;
}

th {
    background-color: #171A21;
}

td {
    background-color: #212121;
    border-right: 2px solid black;
    
}
tr {
    border-bottom: 2px solid rgba(33, 32, 78, 0);
}
tr:hover{
    border-bottom: 2px solid #5DAEDD;
}

/* Faux button colors */

.tBtn:hover {
    background-color: #5DAEDD;
}