<!DOCTYPE html>
<html>
	<head>
		<!-- 
			Developer: Tj Liggett 
		-->
		<meta charset="UTF-8">
		<title>Shopping Cart - Steam Sale</title>
		<!-- Bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<!-- Vuejs -->
		<script src="https://unpkg.com/vue"></script>
		<!-- Main stylesheet -->
		<link rel="stylesheet" type="text/css" href="main.css">
		<!-- Stylesheet responsible for changing color scheme -->
		<link id="cTheme" rel="stylesheet" type="text/css" href="cSteam.css">
	</head>
	<body>
		
		<div class="container">
			<div id="title">
				<h1>Games Sale</h1>
				<button class="btn btn-default" id="btnSteam" v-on:click="steam()">Steam</button>
				<button class="btn btn-default" id="btnSteel" v-on:click="steel()">Steel</button>
			</div>
			<div id="cart">
				<div class="row">
					<div v-for="items in cartItems">
						<div class="col-sm">
							<img v-bind:src="items.imgSrc" class="more" v-on:click="addToCart(items)">
							<p>Price: ${{ items.price }}</p>
						</div>
					</div>
				</div>
				<table>
					
					<tr>
						<th>Title</th>
						<th>Items in cart</th>
						<th>Price</th>
						<th>Add</th>
						<th>Remove</th>
					</tr>
					<!-- Table rows added by Vuejs -->
					<tr v-for="rows in cartItems">
						<td>{{ rows.name }}</td>
						<td>{{ rows.numOrdered }}</td>
						<td class="totalCost">{{ rows.total}}</td>
						<td class="tBtn more" v-on:click="addToCart(rows)">+</td>
						<td class="tBtn less" v-on:click="removeFromCart(rows)">-</td>
					</tr>
					<tr class="topB"></tr>
				</table>
				<h2>Total: {{  }}</h2>
			</div>
		</div>
		<script src="shopping.js"></script>
	</body>
</html>