body {
    background-color: #1B2838;
    color: #FFFFFF;
}
#title {
    background-color:#171A21;
    padding: 10px 5px 5px 20px;
    margin-bottom: 20px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    margin-top: -100px;
}

#cart{
    margin-top: 100px;
}

/* Images */
img {
    width: 300px;
}

img:hover {
    border: 5px solid #5DAEDD;
    padding: -50px;
    cursor: pointer;
}

/* Tables */
table{
    width: 86.67%;
    margin-bottom: 20px;
}
table, th{
    border: 2px solid black;
}
th{
    background-color: #171A21;
    text-align: center;
}
td {
    background-color: #212121;
    border-right: 2px solid black;
    
}
th, td {
    padding: 0px 20px 0px 20px;
}
tr:hover{
    border: 2px solid #5DAEDD;
}

/* Faux Buttons */
.tBtn{
    text-align: center;
    background-color: #212121;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tBtn:hover {
    background-color: #5DAEDD;
    cursor: pointer;
}